<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/bootstrap-icons.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/custom.css"/>
  </head>
  <body>
    <header class="bg-dark navbar navbar-expand-lg sticky-top">
      <nav class="container-xl">
        <a class="navbar-brand link-light" href="{{ site.baseurl }}/">{{ site.name }}</a>
      </nav>
    </header>
    <main class="container-xl mt-3">
      {{ content }}
    </main>
    <footer class="bg-dark text-light">
      <nav class="container-xl p-3">
        <p class="m-0">If you like one of my projects you can <a class="link-light" href="{{ site.url }}/donate">donate</a> a <span class="bi-cup-hot"></span> coffee to me.</p>
      </nav>
    </footer>
  </body>
</html>
